.navbar .container-fluid {
    overflow: hidden;
  }
  
  /* Estilo para los enlaces de la barra de navegación */
  .navbar a {
    color: black; /* Color de texto */
    text-decoration: none; /* Quitar subrayado */
    padding: 14px 20px; /* Espaciado interno */
  }
